div {
  height: 300px;
  /* color: white; */
  border: 2px solid red;
}

.big-img {
  background: url("./big.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}
.small-img {
  background: url("./small.jpeg");

  /* by default repeat*/
  background-repeat: no-repeat; 
  /* background-size: contain; */
  background-position: center;
  background-position: left;
  background-position: right;
  background-position: top;
  background-position: bottom;
  background-position: 0 0;
  background-position: 50% 100%;
}
.folder-img {
  background: url("./images/folder-img.jpeg");
  background-repeat: repeat;
  background-size: cover;
}
