div {
  height: 100vh;
  color: white;
  border: 5px solid red;
  text-align: center;
  text-transform: capitalize;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-img {
  background: url("./big.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.small-img {
  background: url("./images/folder-img.jpeg");
background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;

}
.folder-img {
  background: url("./big.jpeg");
background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
