div{
  width: 5rem;
  height: 5rem;
  margin: 5px;
}
.one{
  background: linear-gradient(blue, green);
}
.two{
  background: linear-gradient(blue, green,red,yellow,orange);
}
.three{
  background: linear-gradient(to top,blue, green, red, yellow, orange);
}
.four{
  background: linear-gradient(to right, blue, green, red, yellow, orange);
}
.five{
  background: linear-gradient(to top left, blue, green, red, yellow, orange);
}

.five {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.987));
}


.six{
  background: linear-gradient(blue 20%, orange 30%, red 70%,yellow 90% );
}


.seven {
  /* background: linear-gradient(-200deg, blue, green, red, yellow, orange); */
  background: linear-gradient( red 1%, yellow, white, yellow, red);
  border-radius: 50%;
}